[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "website"]
	path = website
	url = git@github.com:kfl62/trst_sys.git
[submodule "vendor/plugins/prawnto"]
	path = vendor/plugins/prawnto
	url = git://github.com/thorny-sun/prawnto.git
