<div style="background-color : #f5f5f5; background-image : url('images/uc.gif'); background-position : center center; background-repeat : no-repeat; height:100%; width:100%;">
<h3>Dacă până şi Homer ... lucrează  ...</h3>
<h3 style="float : right; padding-top : 420px;">... atunci cred că va fi gata în curând ...</h3>
</div>