<div class="public_title">
  <h6>Motto:</h6>
</div>
<div class="public_intro">
    <p>&#8222;...pentru un vas, care nu ştie către ce port se îndreaptă, nici un vânt nu este favorabil ...&#8221;
    <span class="float_right"><cite><a class="link_ext" href="http://ro.wikipedia.org/wiki/Seneca" title="vezi ... Wikipedia" target="_blank">Lucius Annaeus Seneca (cca.4 î.e.n. - 65 e.n.) </a></cite></span>
    </p>
</div>
<div class="public_content" style = "padding-top:6em; width:80%; margin:auto; text-align:justify;">
  <h6>Scop:</h6>
  <p style="text-indent : 15px;">" Crearea, comercializarea şi întreţinerea unui produs informatic „TrstSys” care prin utilizarea lui să permită clienţilor, implementarea unui sistem informatic propriu, în vederea îndeplinirii funcţiilor manageriale (previziune, organizare, antrenare, coordonare şi control) atît la nivelul de procesare a tranzacţiilor cît şi la toate nivelele de conducere (operaţională, tactică şi strategică). "
  </p>
</div>
<div class="public_note" style ="padding-top:4em;">
  <strong>Notă:</strong>
  <p style="text-indent : 15px; text-align : justify;">Această parte (publică, accesibilă ca şi utilizator neautentificat) a site-lui <a href="http://diren.trst.ro" title="Continent/Diren - TrstSys" target="_blank">diren.trst.ro</a> se referă la produsul informatic TrstSys şi este o prezentare a acestuia, a scopului urmărit de creatori. Consider că prezentarea suportului teoretic (<a href="#" title="Aspecte teoretice,Noţiuni fundamentale ale Teoriei Generale a Sistemelor,Modelarea sistemică etc..." onclick="TrstWindow.public_pg('chapter=02&page=01&nav_sub=true')">Generalităţi</a>) a <a href="#" title="Metodologie, Constrîngere ISO etc..." onclick="TrstWindow.public_pg('chapter=03&page=01&nav_sub=true')">metodologiei</a> ce stă la baza creării, respectiv a <a href="#" title="Strucura propusă" onclick="TrstWindow.public_pg('chapter=04&page=01&nav_sub=true')" >structurii</a> rezultate în urma aplicării celor amintite anterior, a termeniilor şi definiţiilor folosite (<a href="#" title="Termeni şi definiţii" onclick="TrstWindow.public_pg('chapter=05&page=01&nav_sub=true')">Glossar</a>) precum şi o descriere a interfeţelor de lucru ce vor fi utilizate de Dvs. (<a href="#" title="Descriere/Help TrstSys, Firefox" onclick="TrstWindow.public_pg('chapter=06&page=01&nav_sub=true')">Despre program</a>) ne vor ajuta atât la utilizarea sistemului cât şi la dezvoltarea continuuă a acestuia, în vederea atingerii scopurilor propuse, al firmei <a href="http://www.diren.trst.ro" title="Diren Exim SRL" target="_blank">Continent/Diren</a> şi al creatorilor sistemului (vezi mai sus... :) ...)</p>
  <p>Cu stimă <a href="http://kfl62.trst.ro" title="Kiss Ferenc Loránt" target="_blank">kfl62</a></p>
</div>