<% if params[:obj_id] == "new"
  params[:...][:created_by] = current_trst_user.id
  save_obj(Trst...,params[:obj_id],params[:...])
  o = find_obj(Trst...,'last')
  params[:obj_id] = o.id
  obs = t('tasks....save.create')
elsif params[:remove]
  o = find_obj(Trst...,params[:obj_id])
  obs = t('tasks....save.remove', :... => o....)
  Trst....delete(params[:obj_id])
else
  save_obj(Trst...,params[:obj_id],params[:...])
  o = find_obj(Trst...,params[:obj_id])
  obs = t('tasks....save.update')
end -%>
<% if params[:remove] %>
  <div align="center" style="width:400px;height:3em">
    <%= obs %>
  </div>
<% else %>
  <div style="width:500px;height:190px">
    <p><%= obs %></p>
    <table style="width:80%; margin:auto;">
      <thead>
      </thead>
      <tbody align="left">
      </tbody>
    </table>
  </div>
<% end %>