<div style="width:460px;height:310px">
  <%% o = find_obj(TrstReplaceMe,params[:obj_id]) %>
  <table style="width:80%; margin:auto;">
    <thead>
      <tr>
        <th><%%=t 'activerecord.attributes.label_attribute' %></th>
        <th><%%=t 'activerecord.attributes.label_value' %></th>
      </tr>
    </thead>
    <tbody align="left">
      <%%= custom_schema_definitions_html(o) %>
      <%%= last_row_for  o, :show %>
    </tbody>
  </table>
</div>
