<div class="motto">
<h6>Motto:</h6>
  <p>&#8222; Adevărata ignoranţă nu este absenţa cunoaşterii, ci refuzul de a o dobândi &#8221;
  <span class="float_right"><cite><a class="link_ext" href="http://ro.wikipedia.org/wiki/Karl_Popper" title="vezi ... Wikipedia" target="_blank">Sir Karl Raimund Popper (28 Iulie 1902 – 17 Septembrie 1994)</a></cite></span>
  </p>
</div>
<h4 id="2">Aspecte teoretice</h4>
<br>
<p align="justify">Înlocuirea metodelor analitice într-o serie de ştiinţe – în care creşterea nivelului de cunoaştere impunea descompunerea întregului în părţile sale componente – prin metode sistemice oferă un cadru adecvat abordării sistemice în studiul fenomenelor, proceselor şi obiectelor din natură, tehnică sau societate.</p>
