<div class="motto">
<h6>Motto:</h6>
  <p>&#8222; Este greu să găseşti o pisică neagră într-o cameră întunecată, atunci când ea nu se află acolo. &#8221;
  <span class="float_right"><cite><a class="link_ext" href="http://ro.wikipedia.org/wiki/Confucius" title="vezi ... Wikipedia" target="_blank">Confucius sau Kong Zi (551 î.e.n. - 479 î.e.n.)</a></cite></span>
  </p>
</div>
<div class="motto">
<h6>Metodologia aplicată</h6>
<p align="justify">Aplicarea paradigmei orientării spre obiect in cazul sistemului informatic al firmei, presupune definirea claselor participante, iar posibilitatea modelării  behavioristice din limbajul UML ne permite/impune definirea stărilor,procedurilor, proceselor, activităţilor, acţiunilor specifice.Din cauza complexităţii sistemului şi pentru a evita ,pe cit posibil omisiunile, totodată din cauza scopului propus, am hotărit ca metodologia in procesul de definire a procedurilor , proceselor, activităţilor,acţiunilor, respectiv a claselor implicate intr-un sistem informatic integrat al firmei, să fie aplicarea de constrîngeri (restricţii) succesive după cum urmează:</p>
<ul type="none" style="font-size : 0.9em;">
<li>1. Constringere ISO 9001:2000</li>
<li>2. Constringere IAS</li>
<li>3. Constringere HR</li>
</ul>
<p align="justify">Aplicarea acestora inseamnă de fapt,  definirea tuturor procedurilor ,proceselor,activităţilor,acţiunilor, respectiv a claselor implicate in vederea atingerii standardului in cauză .</p>
<p align="justify">Totodată TrstSys permite la instalare, respectiv configurare, definirea constrîngerilor particulare firmei, adică folosirea din mulţimea   procedurilor , proceselor, activităţilor, acţiunilor a celor specifice, respectiv definirea instanţelor claselor conforme , dar fără a putea elimina acelea care sunt necesare atingerii standardelor de mai sus.</p>
</div>