<div class="motto">
<h6>Motto:</h6>
<p>&#8222; A citi înseamnă a traduce, şi asta fiindcă nu există două persoane care să aibă acceaşi experienţă. Un cititor prost e ca un traducător prost; interpretează literar când ar trebui să parafrazeze şi parafrazează când ar trebui să interpreteze literar. &#8221;
<span class="float_right"><cite><a class="link_ext" href="http://ro.wikipedia.org/wiki/Wystan_Hugh_Auden" title="vezi ... Wikipedia" target="_blank">Wystan Hugh Auden (n. 21 februarie 1907 - d. 29 septembrie 1973)</a></cite></span>
</p>
</div>
<div class="motto">
<h6 id="2">Introducere</h6>
<p align="justify">......</p>
</div>