<div class="motto">
<h6>Motto:</h6>
<p>&#8222; Înainte să faci ceva perfect, fă ceva perfectibil. &#8221;
<span class="float_right"><cite><a class="link_ext" href="http://ro.wikipedia.org/wiki/Bill_Gates" title="vezi ... Wikipedia" target="_blank">William Henry Gates al III-lea (n.28 octombrie 1955)</a></cite></span>
</p>
</div>
<div class="motto">
<h6>Structura propusă</h6>
<p>Din cauza complexităţii sistemului (firma, unitatea economică) pe care dorim să-l modelăm, am considerat necesar împărţirea lui în mai multe subsisteme. Această divizare <b>are ca scop</b> crearea unui suport ptr. <b>codificarea proceselor</b> ce vor fi identificate,definite şi modelate în continuare. <em>(A nu se confunda cu structura organizatorică a societăţii)</em></p>
<div class="float_left"><ul type="none">
  <li id="3.1">3.1 General (3100)</li>
    <ul type="none">
    <li id="3.1.1">3.1.1 Manager (3101)</li>
    <li id="3.1.2">3.1.2 Secretariat (3102)</li>
    <li id="3.1.3">3.1.3 Birou juridic (3103)</li>
    <li id="3.1.4">3.1.4 Birou de asigurare a calitatii (3104)</li>
    </ul>
  <li id="3.2">3.2 Cercetare dezvoltare (3200)</li>
    <ul type="none">
      <li id="3.2.1">3.2.1 Proiectare (3201)</li>
      <li id="3.2.2">3.2.2 Investitii (3202)</li>
    </ul>
  <li id="3.3">3.3 Comercial (3300)</li>
    <ul type="none">
      <li id="3.3.1">3.3.1 Furnizori & Aprovizionare (3301)</li>
      <li id="3.3.2">3.3.2 Clienti & Desfacere (3302)</li>
      <li id="3.3.3">3.3.3 Marketing (3303)</li>
    </ul>
  <li id="3.4">3.4 Productie (3400)</li>
    <ul type="none">
      <li id="3.4.1">3.4.1 Puncte de lucru (3401)</li>
</ul>
</div>
<div class="float_left">
<ul type="none">
    <ul type="none">
      <li id="3.4.2">3.4.2 Comenzi (3402)</li>
    </ul>
  <li id="3.5">3.5 Financiar-Contabil (3500)</li>
    <ul type="none">
      <li id="3.5.1">3.5.1 Contabilitate generala (3501)</li>
      <li id="3.5.2">3.5.2 Mijloace fixe (3502)</li>
      <li id="3.5.3">3.5.3 Furnizori & Cumparari (3503)</li>
      <li id="3.5.4">3.5.4 Beneficiari & Facturare (3504)</li>
      <li id="3.5.5">3.5.5 Obiecte de inventar (3505)</li>
      <li id="3.5.6">3.5.6 Gestiune (3506)</li>
    </ul>
  <li id="3.6">3.6 Resurse umane (3600)</li>
    <ul type="none">
      <li id="3.6.1">3.6.1 Personal (3601)</li>
      <li id="3.6.2">3.6.2 Normare & Salarii (3602)</li>
      <li id="3.6.3">3.6.3 Chestionare (3603)</li>
    </ul>
  <li id="3.7">3.7 Maintenance/Sistem informatic</li>
</ul>
</div>
</div>