<div class="motto">
<h6>Motto:</h6>
<p>&#8222; Nu mă tem de calculatoare. Mă tem de lipsa acestora... &#8221;<br>&#8222; O parte din caracterul neuman al calculatorului este că, după ce a fost programat în mod competent şi a început să lucreze, este complet sincer... &#8221;
<span class="float_right"><cite><a class="link_ext" href="http://ro.wikipedia.org/wiki/Isaac_Asimov" title="vezi ... Wikipedia" target="_blank">Dr. Isaac Asimov (n. 2 ianuarie 1920 - d. 6 aprilie 1992) </a></cite></span>
</p>
</div>
<div class="motto">
<h6 id="2">Introducere</h6>
<p align="justify">......</p>
</div>