<div class="motto">
  <h6>Informaţii generale</h6>
  <p>
    În curând ... 
    <br>
    ... 
    <br>
    ...
    <br>
    ...
  </p>
  <p>
    Info:
  </p>
  <p>
    Accesarea 
    <a href="#" class="link_glossar" onclick="TrstWindow.glossar('meniu')">meniului principal</a> duce la deschiderea unor 
    <a href="#" class="link_glossar" onclick="TrstWindow.glossar('ecran')">ecrane</a> cu informaţii utile privitoare la conţinutul, respectiv la modul de folosire a punctului respectiv. Dacă este cazul, deobicei este :), în dreapta meniului apare un 
    <a href="#" class="link_glossar" onclick="TrstWindow.glossar('buton')">buton</a> <img src="/images/forward.gif" border="0" style="vertical-align : middle;"> , care permite accesarea 
    <a href="#" class="link_glossar" onclick="TrstWindow.glossar('submeniu')">submeniului</a> aferent. 
  </p>
  <p>
    <a href="#" class="link_glossar" onclick="TrstWindow.glossar('accesare')">Accesarea</a> punctelor din submeniu are ca efect deschiderea unor ecrane, care au rolul de "Centru de control". În aceste ecrane se găsesc butoanele, 
    <a href="#" class="link_glossar" onclick="TrstWindow.glossar('link')">linkurile</a>, care la rîndul lor deschid 
    <a href="#" class="link_glossar" onclick="TrstWindow.glossar('fereastra')">ferestre</a> cu un conţinut specific.  În stânga submeniului apare un buton <img src="/images/back.gif" style="vertical-align : middle;">, care permite părăsirea lui, adică accesând respectivul buton vă intoarceţi la acest ecran şi la meniul principal.
  </p>
  <p>
    Pentru început puteţi să accesaţi Pagina mea şi să deschideţi submeniul pentru a începe sesiunea de lucru ... 
  </p>
  <p>
  </p>
</div>
