<div class="motto">
  <h6>Pagina de lucru</h6>
  <p> Linkuri la Ecrane de Introducere/Modificare/Interogare date </p>
</div>
<div id="menu" style="float : left; max-width : 170px;">
  <ul style="list-style-type : none;">
    <li>...</li>
    <li>...</li>
    <li>...</li>
    <li>...</li>
    <li>...</li>
  </ul>
</div>
<div id="info_border" class="info_border">
  <div id="info" class="info" style="display : none;">
  </div>
</div>